@import "../global/_var-pages";

// Old browsers
.lt-ie9-bg {
    z-index: 11111;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    color: #999;
    padding: 100px 20px;
    text-align: center;
    font-size: 26px;

    a {
        color: #f5f5f5;
        border-bottom: 2px solid #fff;
        &:hover {
            text-decoration: none;
        }
    }
}


//
.non-display {
    display: none;
}

.page {
    padding: $page-padding-top-bottom $page-padding-right-left;

    > .ui-section:last-child {
        margin-bottom: 0;
    }
}

.page-form-ele {
    h3 {
        margin: 0;
    }
}

.p-users {
    & &__header-actions {
        min-height: 52px;
        .md-button {
            margin: auto 0 auto 16px;
            border-radius: 4px;
            box-shadow: none;
            font-size: 14px;
            &._white {
                color: #1f242a;
                background-color: #fff;
                &:hover {
                    background-color: rgba(#fff, .75);
                }
                &:active {
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
                }
            }
        }
    }
}

.page__empty {
    height: calc(100vh - #{$header_height} - 20px * 2); 
    &-wrapper {
        padding: 20px 0;
        max-width: 368px;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-image {
        margin: 0 auto 48px;
        width: 301px;
        height: 169px;
        min-height: 169px;
        opacity: .25;
        background-size: contain;
    }
    &-text {
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.5px;
        text-align: center;
        color: rgba($dark-new, 0.4);
        font-size: 20px;
        margin-bottom: 40px;
    }
    &-button {
        border-radius: 4px;
        box-shadow: none !important;
        padding: 9px 13px;
    }
    &-arrow {
        width: 122px;
        height: 114px;
        background: url('../assets/images/empty-pages/empty_screen_arrow.svg') center no-repeat;
        background-size: contain;
        right: 70px;
        top: calc(#{$header_height} + 30px);
        position: absolute;
    }
    @media (max-width: $screen-phone) {
        &-wrapper {
            max-width: 100%;
            padding: 20px 8px;
        }
        &-image {
            max-width: 150px;
            max-height: 84px;
            min-height: 84px;
        }
        &-text {
            font-size: 18px;
        }
        &-button {
            padding: 9px 16px;
        }
    }
    @media (max-width: $screen-tablet) {
        &-arrow {
            display: none;
        }
    }
    @media (max-height: 460px) and (min-width: $screen-phone) {
        height: calc(100vh + #{$header_height}); 
    }
}

